.btn{
    border: none;
    font-weight: 500;
    background: transparent;
    font-size: .9rem;
    color: rgb(0 0 0/70%);
    padding: 7px 15px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    max-width: 400px;
}

.btn-primary{
    background: $primary !important;
    color: white;
    margin-top: .6rem;
    width: 100%;
    padding: 15px 20px;
    transition: all linear 300ms;
    font-weight: 700;
    font-size: 1rem;

    &:hover{
        background: lighten($color: $primary, $amount: 10) !important;
    }
}

.btn-secondary{
    font-weight: 500 !important;
    border: solid 1px rgb(0 0 0/20%);
}

.btn-outained-primary{
    color: $primary;
    margin-top: .6rem;
    width: 100%;
    padding: 15px 20px;
    transition: all linear 300ms;
    font-weight: 700;
    font-size: 1rem;
    max-width: 365px;

    &:hover{
        background: lighten($color: $primary, $amount: 40) !important;
    }
}

.btn-disabled{

}

.btn-loading{
    
}