

.input{
    width: 100%;
    input{
        width: 100%;
        padding: 15px 20px;
        font-weight: 600;
        border: solid 1px rgb(0 0 0/10%);
        border-radius: 4px;
        color: rgb(0 0 0/70%);
        font-family: Poppins;
        max-width: 360px;

        &:focus{
            outline: none;
            border: solid 1px rgb(0 0 0/15%);
        }
    }
}

.form{
    max-width: 400px;
    margin: auto;
}

.logIn{

    margin-top: 10rem !important;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.jcenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}